.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;

  padding: 8px;
  width: 100vw;
  height: var(--navbar-offset);
  background-color: white;
  border-bottom: 1px solid black;
}

.menu {
  display: flex;
  align-items: center;
  width: 500px;
  gap: 20px;
}

.logo {
  width: 150px;
}

.logo:hover {
  cursor: pointer;
}
