.bigButton {
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  color: rgba(0, 0, 0, 0.704);
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  transition: all 150ms;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.252);
}

.bigButton:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: var(--secondary-accent);
  color: rgba(0, 0, 0, 0.704);
  border: none;
}

.bigButton:active {
  background-color: var(--color1-light);
}

.normalButton {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.704);
  background-color: var(--secondary-color);
  border-radius: 20px;
  font-size: 14px;
  padding: 8px;
  height: 30px;
  transition: all 150ms;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.252);
}

.normalButton:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.normalButton svg {
  margin-right: 4px;
}

.smallButton {
  outline: none;
  border: none;
  background-color: var(--transparent-white);
  color: rgba(0, 0, 0, 0.704);
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.252);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: var(--transparent-white);
  padding: 6px;
  border-radius: 5px;
  transition: all 150ms;
}

.iconButton svg {
  width: 15px;
  height: 15px;
}

.iconButton:hover {
  cursor: pointer;
}
