.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.popupContent {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.close {
  float: right;
  color: var(--dark-text-color);
}

.close:hover {
  cursor: pointer;
  color: var(--transparent-black);
}

@media screen and (max-width: 600px) {
  .popupContent {
    width: 70%;
    left: 15%;
  }
}
