.topicBar {
  position: fixed;
  top: var(--navbar-offset);
  left: 0;
  z-index: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 20px;
  padding: 0 4px 0 4px;
  background-color: white;
  border-top: 1px solid var(--transparent-black);
}

.topicBar * {
  margin: 0;
}
