html,
body {
  padding: 0;
  margin: 0;

  /* --global-font-family: Times, Georgia, "Times New Roman", sans-serif; */

  --global-font-family: arial, sans-serif, -apple-system, Helvetica;

  font-family: var(--global-font-family);

  background-color: gray;

  --navbar-offset: 40px;

  /* --primary-color: white; */

  --transparent-white: rgba(255, 255, 255, 0.608);
  --transparent-black: rgba(0, 0, 0, 0.608);

  --primary-color: #43baff;
  --primary-accent: #b6e4ff;
  --secondary-color: #ff9f1c;
  --secondary-accent: #ffbf69;

  --canvas-background-color: white;
}

* {
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: none;
}

button {
  font-family: var(--global-font-family);
}

input[type="text"] {
  width: 90%;
  height: 25px;
  padding: 8px;
  margin: 0;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  font-family: var(--global-font-family);
}

textarea {
  width: 90%;
  resize: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 3px;
  font-family: var(--global-font-family);
}
