.layerListContainer {
  display: flex;
  align-items: center;
  --layer-list-width: 200px;
}

.layerList {
  position: fixed;
  top: var(--navbar-offset);
  right: 0;

  width: var(--layer-list-width);
  height: 100%;

  background-color: var(--transparent-white);
  border-left: 1px solid gray;
  z-index: 90;
  transition: all 150ms;
}

.layerList ul {
  width: 200px;
  margin: 0;
  z-index: 91;
}

.layerList li {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  width: var(--layer-list-width);
  padding: 8px;
  font-size: 14px;

  color: white;
  background-color: var(--transparent-black);
  border-bottom: 2px solid var(--transparent-white);
  transform: translateX(-40px);
  z-index: 92;
}

.layerList li * {
  padding: 0;
  margin: 0;
}

.expanded {
  right: 0;
}

.hidden {
  right: calc(var(--layer-list-width) * -1);
}
